.header{
  padding-left: 2%;
  background-image: linear-gradient(80deg, transparent, rgba(7, 7, 0, 0.5), rgba(10, 10, 10, 0.868)), 
  url('./images/cool8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  background-position: center;
  padding-top: 4rem;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}